<div class="project-form">
  <h1 *ngIf="!editMode">Nuevo proyecto</h1>
  <form nz-form nzLayout="vertical" [formGroup]="projectForm">
    <nz-form-item class="default-form-item">
      <nz-form-label nzRequired>Nombre</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTempl">
        <input
          nz-input
          formControlName="name"
          placeholder="Nombre del proyecto"
        />
        <ng-template #nameErrorTempl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Este campo no puede estar vacio
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Debes introducir almenos 5 caracteres
          </ng-container>
          <ng-container *ngIf="control.hasError('uniqueProjectName')">
            Ya existe un proyecto con este nombre
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="small-form-item">
      <nz-form-label nzRequired>Key</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="keyErrorTempl">
        <input class="input-key" nz-input formControlName="key" />
        <ng-template #keyErrorTempl let-control>
          <ng-container *ngIf="control.hasError('required')">
            La clave no puede estar vacia
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Debes introducir almenos dos caracteres
          </ng-container>
          <ng-container *ngIf="control.hasError('uniqueProjectKey')">
            Ya existe un proyecto con esa clave
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="default-form-item">
      <nz-form-label>URL</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="url" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="small-form-item">
      <nz-form-label>Categoria del proyecto</nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch formControlName="category">
          <nz-option
            *ngFor="let cateory of projectCategories"
            [nzValue]="cateory"
            [nzLabel]="cateory"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Descripcion</nz-form-label>
      <nz-form-control>
        <quill-editor
          formControlName="description"
          [modules]="defaultEditorOptions"
          format="object"
          [styles]="{ 'min-height': '200px' }"
        ></quill-editor>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="editMode" class="default-form-item">
      <nz-form-label nzRequired>Lider del proyecto</nz-form-label>
      <nz-form-control>
        <project-lead-select
          [form]="projectForm"
          [assignees]="currentProject?.assignees"
        ></project-lead-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <div class="action-buttons">
          <button nz-button (click)="onCancel()">Cancelar</button>
          <button
            nz-button
            nzType="primary"
            [nzLoading]="isLoading"
            (click)="submitForm()"
            [disabled]="projectForm?.invalid || projectForm?.pristine"
          >
            {{ editMode ? "Guardar" : "Crear" }}
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
